#!/bin/sh

###
# Aliases
##

# wttr.in
wttr () {
    curl wttr.in/${1:-kemerovo} | less -R
}

# tmux
tmx() {
    cd ~
    tmux new-session -A -s ${1:-main}
}
alias tmless="tmux capture-pane -S - && tmux save-buffer - | less"

# stuff
alias trm=trash
alias ls="ls --color=auto"
alias assistant="assistant -stylesheet /home/ildar/.local/src/preferences/css/qt_assistant.css"

