[user]
	name = Ildar Akhmetgaleev
	email = akhilman@gmail.com
	signingkey = D2806AD1F5C35A92CE1FC2CCCC43E81AB71C1BCF
[core]
	autocrlf = input
	safecrlf = true
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[credential]
	helper = cache --timeout=3600
[pull]
	rebase = false
[init]
	defaultBranch = master
[annex]
	jobs = 4
	sshcaching = true
